* {
  margin: 0;
}

/* setting up the page layout using grid */
.header{
  grid-area: header;
  background-color: #43281c;
  color: #fbf2c0;
  margin: 0;
}

.order-items {
  grid-area: order-items;
}

.checkout-details {
  grid-area: checkout-details;
}

.total-section {
  grid-area: total;
}

.page-layout {
  display: grid;
  grid-template-areas:
  "header       header"
  "order-items  checkout-details"
  "total        total";
}
/* setting up grid for order items */

.order-item {
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.order-item:last-child {
  border-bottom: none;
}

.item-quantity{
  grid-area: quantity;
}
.item-name{
  grid-area: name;
}
.item-price{
  grid-area: price;
}
.item-options {
  grid-area: options;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #B08968;
}

.my-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "quantity name price"
    "quantity options price"
}

/* styling header */
.header {
  display:flex;
  justify-content: center;
  padding: 15px;
  font-size: 15px;
}

.header img {
  max-height: 30px;
  padding-right: 15px;
}

.header h1{
  margin: 0;
}

/* styling sections */
.order-items, .checkout-details, .total-section {
  margin: 30px;
}

.section-title{
  font-size: 15px;
  font-weight: lighter;
  color: #B08968;
  margin-bottom: 10px;
}

.section-box, .order-items {
  background-color: #eee1d5;
  padding: 40px;
  border-radius: 5px;
}

/* items styling */
.item-options {
  list-style-type: none;
  padding: 0px;
}

/* checkout details layout using flex */
.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-grow .name-section {
  flex-grow: 1;
  height:0;
}

.flex-grow .payment-section {
  flex-grow: 2;
  height: 0;
}

.payment-section {
  margin-top: 20px;
}

.input {
  border-radius: 50px;
  background-color: rgba(0,0,0,0);
  border: 2px #885a2d solid;
  padding: 8px;
  width: 70%;

}

.payment-input {
  margin-bottom: 30px;
}

/* total section styling */

.total-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-table {
  border-spacing: 0 20px;
}

.total-section button{
  width: 100%;
  background-color: #eee1d5;
  border-radius: 50px;
  border: 2px;
  margin: 30px;
  padding: 10px;
  font-size: 15px;
}

.left-td {
  padding-right: 300px;
}






